.ant-tag{
    width: 90px;
    text-align: center;
    margin: 5px;
    
}
.clumStyle1{
    background-color: rgb(123, 255, 178);
}

.clumStyle2{
    background-color: rgb(138, 255, 239);
}
.ant-table-cell{
    padding: 0 !important;
}
.tdC{
    border: 1px solid red;
    border-radius: 5px ;
}
